@font-face {
    font-family: pmdfont;
    src: url('fonts/pmdfont.ttf')  format("truetype");
}

@font-face {
    font-family: comicsans;
    src: url('fonts/comicsans.ttf')  format("truetype");
}

body{
    --bg-color: #ffffff;
    background-color: var(--bg-color);
    font-family: Courier New;
    position: relative;
    top: -.08in;
}

.all{
    background-color: #f7f7f7;
    background: linear-gradient(90deg, var(--bg-color) 0%, #979797 1%, #979797 99%, var(--bg-color) 100%);
    margin: auto;
    width: 60%;
    padding: 0 .5% 0 .5%;
}

.header{
    background-color: #1d5ce2;
    background: linear-gradient(#205cdc 0%, #2f7ce7 5%, #205cdc 95%, #205cdc 100%);
    width: 100%;
    margin: auto;
}

.logo{
    height: 1.5in;
    image-rendering: pixelated;
}

.buttondiv{
    text-align: right;
}

.body{
    display: flex;
    align-items: stretch;
    text-align: center;
    margin: auto;
    width: 100%;
}

.title{
    text-align: center;
    margin: auto;
}

.innerbody{
    background-color: white;
    flex-grow: 3;
    text-align: left;
}

.colorinner{
    padding: 0.05in;
    padding-left: .1in;
    background-color: purple;
}

.recents{
    background-color: green;
    text-align: right;
    min-width: 30%;
}

.copyright{
    margin: auto;
    width: 60%;
    padding: 0 .5% 0 .5%;
}

h1{
 font-size: 0.8in;
}
h2{
    font-family: pmdfont;
    font-size: 0.6in;
}

p{
 font-size: 0.23in;
}

a{    
 font-size: 0.25in;
}

a:link {
	color: green;
}

w{
    background-color: white;
}

small{
 font-size:0.17in; 
}

comic{
    font-family: comicsans;
}

.smallpic{
    width: 60%;
}

.bigpic{
    width: 90%;
}